@import"parciales/variables";
@import"parciales/footer";
@import"parciales/header";
@import"parciales/diseño";
@import"parciales/utilidades";
@import"parciales/sass-2";

.colorletra__blanca{
    color:aliceblue;
}




@media only screen and (max-width: 1023px) {
	.header{
        background-color: azure;
    }
    .gridNovedades{
        border: none;        
        margin:auto;
        padding:10%;
        min-height: 5px;
        display:grid; 
        grid-template-columns: 100%; 
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5px;
             
    } 
    .p{
        font-size:medium;
        margin:auto
    }
    .colorletra__blanca{
        font-size: small;
        margin: auto;
    }
    .ul__deco{
        text-decoration: none;
        justify-content: center;
    }
    body{
        padding: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    
}
@media only screen and (max-width: 600px) {
	.gridNovedades{
        border: none;        
        margin:auto;
        padding:10%;
        min-height: 5px;
        display:grid; 
        grid-template-columns: 100%; 
        grid-template-rows: 1fr 1fr 1fr;           
       
    }
    .p{
        font-size: medium;     
    
 
    }
    .colorletra__blanca{
        font-size: medium;
        margin: auto;
    }
    body{
        padding: 0px;
        margin-left: 5px;
        margin-right: 5px;
    }
   
    
}